:root{
 --first-color:#F9C61B;
 --second-color:#1188E7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box border  ;
}
html,body{
    width: 100%;
    height: 100%;
}

                                                      /* NAV  */


.circle1{
    border-radius: 50%;
    background-color:var(--first-color);
    width: 35px;
    height: 35px;
}
.circle2{
    border-radius: 50%;
    background-color: #1188E7;
    width: 35px;
    height: 35px;
       
}
.logonav{
    display: flex;
    padding: 18px 99px;
    margin-top: 7px;
    font-size: 35px;
}
.nav{
    margin: 10px 0 10px ;
    margin-left: 1%;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 16px 10px 10px 10px;
    background: #f2f2f2;
}

.lg{
    margin-left: 124px;
}

.linenav{
    display: flex;
    margin-top: 35px;
}
.hp{
    margin: 15px;
    text-decoration: none ;
    color:#1188E7 ;
}

@media(max-width: 900px){
  nav {
    position: absolute;
    top: 70px;
    right: 0;
    background: #fff;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    display: none;
  }
  nav.active {
    display: flex;
  }
  .hamburger {
    display: flex;
  }
}


                                                                /* HOME */
#ho{
    display: flex;
}

.pt{
    padding: 30px 25px 0px 175px;
}
.pad{
    margin-top: 60px;
    font-size: 30px;
    line-height: 35px;
}
.pad1:hover{
    transform: translateY(-8px);
  box-shadow: 0 0px 0px rgba(0,0,0,0.1);
}
.pad1{
    color: #1188E7;
    line-height: 45px;
    font-size: 35px;
}
.pad2{
   font-size: 55px;
   padding: 0px;
   color: #F9C61B;
}
.pad3{
    font-size: 25px;
    line-height: 40px;
}
.img1 img{
    height: 350px;
    width: 380px;
    margin: 45px 91px -12px 150px;
    border-radius: 50px;

}
.resume-btn{
    border-radius: 999px;
    border: 1.5px solid #F9C61B;
    display: inline-block;
    padding: 10px 35px;
    margin-top: 0px;
    margin-bottom: 90px;
    background-color: transparent;
    color:#1188E7;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s ease;
}
.resume-btn:hover{
    background-color: #F9C61B;
    transform: scale(1.05);
}
.but{
    padding-left: 160px;
    height: 35px;
}
.icon{
    display: flex;
    padding : 5px 165px 30px;
    text-decoration: none;
    font-size: 25px;
}
a{
    margin: 25px;
}
.icon1{
    text-decoration: none;
    color: #1188E7;
}


                                                              /*ABOUT ME  */

#bout{
    display: flex;
    
}

.imgsecond{
    height: 350px;
    width: 380px;
    border-radius: 50px;
    margin-left: 175px;
    margin-top: 55px ;

} 
.me{
    font-size: 30px;
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
 
}   
#me{
    line-height: 27px;
    margin-top: 65px;
    margin-left: 50px;
    font-size: 24px;
}    



.about-details h3,
.hobby h3 {
  font-size: 1.3rem;
  font-weight: 600;
 /* margin: 10px 10px 10px 47px; */

  color: rgb(90, 2, 2);
}

.about-details p,
.hobby p {
  font-size: 16px;
   margin: 10px 10px 10px 80px;
  color: #1a1a1a;
  line-height: 1.6;
}
#collage {
  font-size: 24px;
  color: #1188E7;
  margin-right: 8px;
}

.edu{
    margin: -19px 10px 10px 52px;
}

.ude{
     margin: 25px 10px 10px 52px;
}




                                                        /* SKILL */

.s{
    text-align: center;
    font-size: 35px;
    margin: 85px;
    margin-bottom: 25px;

}
#s1{
   text-align: center;
   font-size: 25px;
   margin: 10px;
   margin-bottom: 60px;
}
.skills {
    width: 700px;
    padding-left: 400px;
    font-size: 25px;
}
.skill {
    margin-bottom:45px;
}
.per{
    font-size: 23px;
}
.label {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 6px;
}
.bar {
    width: 100%;
    height: 10px;
    background: #f2f2f2;
    border-radius: 10px;
    position: relative;
}

.bar:hover .fill {
    box-shadow: 0 0 15px rgb(3, 8, 247);
    filter: brightness(1.2);
    transform: scaleY(1.2);
}

.fill {
    height: 100%;
    background-color: #fbd559;
    border-radius: 10px;
    position: relative;
}
.fill::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 14px;
    height: 14px;
    background: #fff;
    border: 3px #1188E7;
    border-radius: 50%;
    transform: translate(50%, -50%);
}
                             


                                                            /* SERVICE */


.services {
  text-align: center;
  padding: 100px 10%;
}

.services h2 {
  font-size: 35px;
  margin-bottom: 25px;
}

.subtitle {
  margin-bottom: 70px;
  font-size: 25px;
}

.service-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 42px;

}

.card {
  background: #f2f2f2;
  padding: 70px 0px 80px 0px ;
  border-radius: 200px;
  transition: 0.3s;
}

.card img {
  width: 80px;
  margin-bottom: 15px;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  color: #555;
  font-size: 18px;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

@media (max-width: 900px) {
  .service-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .service-box {
    grid-template-columns: 1fr;
  }
}             



                                              /* PROJECT */

.project{
    display: inline;
}
.project h2{
    font-size: 35px;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 15px;
}
.project p{
     margin-bottom: 70px;
  font-size: 25px;
  text-align: center;
}

.projectbox{
    display: flex;
    gap: 30px;
    justify-content:center ;
    margin-bottom: 80px;
}
.pbox{
    background-color:#f2f2f2 ;
}
.pbox:hover{
    transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.pbox img{

    height: 40rem;
    width: 22rem;
    border-radius: 35px;
    padding: 0px 15px 15px 15px;
}
.pbox h4{
text-align: center;
padding: 15px 10px 10px 10px;
font-size: 20px;

}

.bio{
padding: 10px 10px 10px 10px;
font-size: 15px;
text-align: center;
}


                            /* -----------certficate */
.certficate{
    display: flex;
    margin-left: 107px;
    margin-top: 50px;
}
.bioo{
    text-align: center;
    font-size: 25px;
}

.cert:hover{
     transform: translateY(-8px);
      box-shadow: 0 10px 30px rgba(0,0,0,0.1);

}

.cert img{
      height: 15rem;
    width: 25rem;
    border-radius: 35px;
    padding: 0px 15px 15px 15px;
}