:root{
 --first-color:#F9C61B;
 --second-color:#1188E7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box border  ;
    font-family: serif
  }
html,body{
    width: 100%;
    height: 100%;
}

                                                      /* NAV  */


:root {
  --first-color: #F9C61B;
}


.circle1{ 
    border-radius: 50%;
    background-color: var(--first-color);
    width: 35px;
    height: 35px;
  position: relative;

}
.circle2{
    border-radius: 50%;
    background-color: #1188E7;
    width: 35px;
    height: 35px;
    position: relative;
    left: -10px;
}

.linenav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 10px 50px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(242, 242, 242, 0.8); 
    backdrop-filter: blur(10px);
    z-index: 1000;
    /* border-radius: 0 0 20px 20px;  */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: 10px;
    height: 65px;
}

.logonav{
    display: flex;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}
.nav{
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 16px 10px 10px 10px;
    background: #d7d2d2;
    display: flex;
    gap: 15px;
    transition: box-shadow 0.3s ease;
    /* margin-left: 165px; */
  
}
.nav2{
  margin-top: -5px;
}
.hp:hover{
  color: var(--second-color);
  transform: scale(2);
}
.nav:hover{
    box-shadow: 0 10px 10px rgb(179, 174, 174);
}

.hp{
    text-decoration: none;
    color: black;
}
body {
    padding-top: 120px; 
}
@media(max-width: 900px){
  nav {
    position: absolute;
    top: 70px;
    right: 0;
    background: #fff;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    display: none;
  }
  nav.active {
    display: flex;
  }
  .hamburger {
    display: flex;
  }
  .linenav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }
  .nav {
    margin-left: 0;
    width: 100%;
  }
}



                                                                /* HOME */
#ho{
    display: flex;
}

.pt{
    padding: 30px 25px 0px 175px;
}
.pad{
    margin-top: 60px;
    font-size: 30px;
    line-height: 35px;
}
.pad1:hover{
    transform: translateY(-2px);
  box-shadow: 0 0px 0px rgba(0,0,0,0.1);
}
.pad1{
    color: #1188E7;
    line-height: 45px;
    font-size: 35px;
    transition: 0.6s;
}
.pad2{
   font-size: 55px;
   padding: 0px;
   color: #F9C61B;
}
.pad3{
    font-size: 25px;
    line-height: 40px;
}
.img1 img{
    height: 350px;
    width: 380px;
    margin: 45px 91px -12px 150px;
    border-radius: 50px;

}
.img1{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeln 3s forwards;
}
@keyframes fadeln{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.resume-btn{
    border-radius: 999px;
    border: 1.5px solid #F9C61B;
    display: inline-block;
    padding: 10px 35px;
    margin-top: 0px;
    margin-bottom: 90px;
    background-color: transparent;
    color:#1188E7;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s ease;
}
.resume-btn:hover{
    background-color: #F9C61B;
    transform: scale(1.05);
}
.but{
    padding-left: 160px;
    height: 35px;
}
.icon{
    display: flex;
    padding : 5px 165px 30px;
    text-decoration: none;
    font-size: 25px;
}
a{
    margin: 25px;
}
.icon1{
    text-decoration: none;
    color: #1188E7;
}


                                                              /*ABOUT ME  */

#bout{
    display: flex;
    
}

.imgsecond{
    height: 350px;
    width: 380px;
    border-radius: 50px;
    margin-left: 175px;
    margin-top: 55px ;

} 
.me{
    font-size: 30px;
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
 
}   
#me{
    line-height: 27px;
    margin-top: 65px;
    margin-left: 50px;
    font-size: 24px;
}    



.about-details h3,
.hobby h3 {
  font-size: 1.3rem;
  font-weight: 600;
 /* margin: 10px 10px 10px 47px; */

  color: rgb(90, 2, 2);
}

.about-details p,
.hobby p {
  font-size: 16px;
   margin: 10px 10px 10px 80px;
  color: #1a1a1a;
  line-height: 1.6;
}
#collage {
  font-size: 24px;
  color: #1188E7;
  margin-right: 8px;
}

.edu{
    margin: -19px 10px 10px 52px;
}

.ude{
     margin: 25px 10px 10px 52px;
}




                                                        /* SKILL */

.s{
    text-align: center;
    font-size: 35px;
    margin: 85px;
    margin-bottom: 25px;

}
#s1{
   text-align: center;
   font-size: 25px;
   margin: 10px;
   margin-bottom: 60px;
}
.skills {
    width: 700px;
    padding-left: 400px;
    font-size: 25px;
}
.skill {
    margin-bottom:45px;
}
.per{
    font-size: 23px;
}
.label {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 6px;
}
.bar {
    width: 100%;
    height: 10px;
    background: #f2f2f2;
    border-radius: 10px;
    position: relative;
}

.bar:hover .fill {
    box-shadow: 0 0 15px rgb(108, 110, 235);
    filter: brightness(1.2);
    transform: scaleY(1.2);
}

.fill {
    height: 100%;
    background-color: #fbd559;
    border-radius: 10px;
    position: relative;
}
.fill::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 14px;
    height: 14px;
    background: #fff;
    border: 3px #1188E7;
    border-radius: 50%;
    transform: translate(50%, -50%);
}
                             


                                                            /* SERVICE */


.services {
  text-align: center;
  padding: 100px 10%;
}

.services h2 {
  font-size: 35px;
  margin-bottom: 25px;
}

.subtitle {
  margin-bottom: 70px;
  font-size: 25px;
}

.service-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 42px;

}

.card {
  background: #f2f2f2;
  padding: 70px 0px 80px 0px ;
  border-radius: 200px;
  transition: 0.3s;
}

.card img {
  width: 80px;
  margin-bottom: 15px;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  color: #555;
  font-size: 18px;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

@media (max-width: 900px) {
  .service-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .service-box {
    grid-template-columns: 1fr;
  }
}             



                                              /* PROJECT */

.project{
    display: inline;
}
.project h2{
    font-size: 35px;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 15px;
}
.project p{
     margin-bottom: 70px;
  font-size: 25px;
  text-align: center;
}

.projectbox{
    display: flex;
    gap: 30px;
    justify-content:center ;
    margin-bottom: 80px;
}
.pbox{
    background-color:#f2f2f2 ;
    border-radius: 25px;
    transition: 0.3s;
}
.pbox:hover{
    transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.pbox img{

    height: 25rem;
    width: 19rem;
    object-fit: fill;
    border-radius: 35px;
    padding: 15px;
}
.pbox h4{
text-align: center;
padding: 15px 10px 10px 10px;
font-size: 20px;
color: rgb(164, 164, 5);

}

.bio{
padding: 10px 10px 10px 10px;
font-size: 15px;
text-align: center;
}


                            /* -----------certficate */
.certficate{
    display: flex;
    margin-left: 107px;
    margin-top: 50px;
    /* transition: 0.3s */
    
    ;
}
.cert{
  transition: 0.3s;
  border-radius: 25px;
}
.bioo{
    text-align: center;
    font-size: 21px;
}

.cert:hover{
     transform: translateY(-8px);
      box-shadow: 0 10px 30px rgba(0,0,0,0.1);

}

.cert img{
      height: 15rem;
    width: 25rem;
    border-radius: 35px;
    padding:  15px;
    

}

                                                 /* contact */


.c{
    text-align: center;
    margin: 100px 0 30px 0;
    font-size: 35px;
}

.contact-container {
  display: flex;
  max-width: 1000px;
  width: 90%;
  gap: 50px;
  padding: 40px;
  margin-left: 200px;
}

.contact-text {
  flex: 1;
  padding-top: 80px;
}

.contact-text h1 {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 20px;
  font-weight: 800;
}

.contact-text p {
  color: #555;
  line-height: 1.6;
  max-width: 400px;
}

.contact-form {
  flex: 1;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-group label span {
  color: #333;
}

input, textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 8px;
  background-color: #fafafa;
  font-size: 1rem;
  box-sizing: border-box; 
}

.submit-btn {
   background-color: white;
  color: var(--second-color);
  border:1.5px solid var(--first-color);
  padding: 12px 40px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
 transition: 0.3s ease;
}

.submit-btn:hover {
  background-color: #e5bd20;
  transform: scale(1.05s);
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    text-align: center;
  }
  .contact-text p {
    margin: 0 auto 30px;
  }
}    

/* fiter */


  


.cir1{ 
    border-radius: 50%;
    background-color: var(--first-color);
    width: 35px;
    height: 35px;
  position: relative;
  border: 1px solid white;
}
.cir2{
    border-radius: 50%;
    background-color: #1188E7;
    width: 35px;
    height: 35px;
    position: relative;
    left: -10px;
    border: 1px solid white;
}
.ft{
  display: flex;
  margin: 30px 0 0 52px;
}
.mx{
  font-size: 35px;
}
.na{
  display: flex;
  padding: 0px 0px 0px 0px;
  margin: 10px 0px 0px 290px;
}
.hp1{
  text-decoration: none;
  font-size: 16px;
  margin: 5px;
}
.vb{
  margin: 1px 0px 0px 705px;
}
.icon5{
  text-decoration: none;
  color: var(--first-color);
}
.gh{
  margin: -3px 0px 0px 258px;
}
.bt{
    background-color: var(--first-color);
    color: white;
    border: 1.5px solid var(--first-color);
     padding: 5px 20px; 
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}
.endline{
  background-color: var(--first-color);
}
.endcol{
  color: white;
}